[Desktop Entry]
Name=Physiology of Visual Circuits
Exec=/home/yann/work/cortical-physio-icm
Icon=/home/yann/work/cortical-physio-icm/
Type=Application
Categories=GTK;GNOME;Utility;