[submodule "physion/analysis/analyz"]
	path = physion/analysis/analyz
	url = https://github.com/yzerlaut/analyz
[submodule "physion/dataviz/datavyz"]
	path = physion/dataviz/datavyz
	url = https://github.com/yzerlaut/datavyz
