pip install opencv-python
pip install scanimage-tiff-reader>=1.4.1
pip install opencv_python_headless
pip install tifffile
pip install nidaqmx
pip install natsort
pip install paramiko
pip install rastermap>0.1.0
pip install numba
pip install av
# for the visual stimulation and analysis
pip install psychopy 
pip install scikit-video
# required for suite2p
conda install mkl_fft
pip install mkl
# # suite2p, forked from MouseLand
pip install git+https://github.com/yzerlaut/suite2p
# my data vizualization module that has a few handy tools (OPTIONAL)
pip install git+https://github.com/yzerlaut/datavyz
# some problems with the ruamel and ruamel.yaml modules, need to be installed manually:
conda install ruamel
conda install ruamel.yaml


