[Desktop Entry]
Name=Physiology of Visual Circuits
Exec=python /home/yann/work/cortical-physio-icm/main.py
Icon=/home/yann/work/cortical-physio-icm/doc/icon.png
Type=Application
Categories=GTK;GNOME;Utility;