[Desktop Entry]
Name=Physiology of Visual Circuits
Exec=/home/yann/work/physion/
Icon=/home/yann/work/physion/doc/small-icon.png
Type=Application
Categories=GTK;GNOME;Utility;
Terminal=true
X-KeepTerminal=true
StartupNotify=false
